.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #75B9BE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-div { 
  background-color:  #75B9BE;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #D0D6B5;
  font-family:fantasy;

}

.image-list { 
  color: #D0D6B5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;

}
.images { 
  width: 200px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-top: 20px;
  align-items: center;
  border-radius: 45%;
  
  
}
.image-container { 
  margin: 10px;
  margin-top: 5px;
  align-items: center;
  height: 350px;
  width: 350px;
  border: #F9B5AC 3px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  
}
/* .myForm { 
  background-color:  rgb(105, 161, 20) ;
  margin-top: 5px;
} */

