.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e7ce7d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-div { 
  background-color: #e7ce7d;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: rgb(105, 161, 20);
  font-family:fantasy;

}

.image-list { 
  background-color: rgb(105, 161, 20);
  color: black;
}
.images { 
  width: 150px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  
  
}
.image-container { 
  margin: 10px;
  margin-top: 5px;
  align-items: center;
  height: 350px;
  width: 350px;
  
  
}
.myForm { 
  background-color:  rgb(105, 161, 20) ;
  margin-top: 5px;
}

